<div class="commonBox">
   <div class="commonConBox commonConBoxBg">
        <div class="blankCardBox marginTop1">
            的法师打发士大夫
        </div>
        <div class="blankCardBox marginTop1">
            <h3 class="blankCardTit"><i  class="iconInfo iconfont icon-lingdai iconfontSize13"></i>该企业的其他职位</h3>
            <div class="jobModelCardBox jobModelCardBoxB">
                <div class="jobModelCardImg">
                     <div class="jobModelCardMask"></div>
                     <img src="img/baobao.jpg">
                     <div class="jobStyle">兼职</div>
                </div>
                <div class="jobInfoBox">
                    <h3>店长助理</h3>
                    <div><i class="iconInfo iconfont icon-shouye iconfontSize13"></i><span>上海KFC股份有限公司</span></div>
                    <div><i class="iconInfo iconfont icon-shijian iconfontSize13"></i><span>12.02-12.25</span></div>
                    <div><i class="iconInfo iconfont icon-dizhi iconfontSize13"></i><span>闵行</span></div>
                </div>
                <div class="jobSalaryBox">
                      <div class="jobSalary"> 180元/天</div>
                      <div class="circleCreIcon circleCreIconLeft"><span></span></div>
                      <div class="circleCreIcon circleCreIconRight"><span></span></div>
                </div>
            </div>
             <div class="jobModelCardBox jobModelCardBoxB">
                <div class="jobModelCardImg">
                     <div class="jobModelCardMask"></div>
                     <img src="img/baobao.jpg">
                     <div class="jobStyle">兼职</div>
                </div>
                <div class="jobInfoBox">
                    <h3>店长助理</h3>
                    <div><i class="iconInfo iconfont icon-shouye iconfontSize13"></i><span>上海KFC股份有限公司</span></div>
                    <div><i class="iconInfo iconfont icon-shijian iconfontSize13"></i><span>12.02-12.25</span></div>
                    <div><i class="iconInfo iconfont icon-dizhi iconfontSize13"></i><span>闵行</span></div>
                </div>
                <div class="jobSalaryBox">
                      <div class="jobSalary"> 180元/天</div>
                      <div class="circleCreIcon circleCreIconLeft"><span></span></div>
                      <div class="circleCreIcon circleCreIconRight"><span></span></div>
                </div>
            </div>
             <div class="jobModelCardBox jobModelCardBoxB">
                <div class="jobModelCardImg">
                     <div class="jobModelCardMask"></div>
                     <img src="img/baobao.jpg">
                     <div class="jobStyle">兼职</div>
                </div>
                <div class="jobInfoBox">
                    <h3>店长助理</h3>
                    <div><i class="iconInfo iconfont icon-shouye iconfontSize13"></i><span>上海KFC股份有限公司</span></div>
                    <div><i class="iconInfo iconfont icon-shijian iconfontSize13"></i><span>12.02-12.25</span></div>
                    <div><i class="iconInfo iconfont icon-dizhi iconfontSize13"></i><span>闵行</span></div>
                </div>
                <div class="jobSalaryBox">
                      <div class="jobSalary"> 180元/天</div>
                      <div class="circleCreIcon circleCreIconLeft"><span></span></div>
                      <div class="circleCreIcon circleCreIconRight"><span></span></div>
                </div>
            </div>
        </div>
   </div>
   <div class="companyInfo">
       <h4>2015上海简知网络科技有限公司</h4>
       <a href="">下载APP</a>
   </div>
</div>