<div class="commonBox">
   <div class="commonConBox commonConBoxBg">
        <div class="blankCardBox marginTop1">{{corpInfo.descr}}</div>
        <div class="blankCardBox marginTop1">
            <h3 class="blankCardTit"><i class="iconInfo iconfont icon-lingdai iconfontSize13"></i>该企业的其他职位</h3>
            <div ng-repeat="item in jobList" class="jobModelCardBox jobModelCardBoxB">
                <div class="jobModelCardImg">
                  <div class="jobModelCardMask"></div>
                  <span ng-class="['green', 'red', 'blue'][item.taskType]">{{item.workTypeName}}</span>
                  <div class="jobStyle">{{item.taskTypeName}}</div>
                </div>
                <div class="jobInfoBox">
                    <h3>{{item.name}}</h3>
                    <div><i class="iconInfo iconfont icon-shouye iconfontSize13"></i><span>{{item.corpName}}</span></div>
                    <div><i class="iconInfo iconfont icon-shijian iconfontSize13"></i><span>{{item.dateFrom | date:'MM.dd'}} - {{item.dateTo | date:'MM.dd'}}</span></div>
                    <div><i class="iconInfo iconfont icon-dizhi iconfontSize13"></i><span>{{item.distName}}</span></div>
                </div>
                <div class="jobSalaryBox">
                    <div class="jobSalary"> {{item.salaryPerDay}}元/天</div>
                    <div class="circleCreIcon circleCreIconLeft"><span></span></div>
                    <div class="circleCreIcon circleCreIconRight"><span></span></div>
                </div>
            </div>
        </div>
   </div>
   <div class="companyInfo">
       <h4>2015上海简知网络科技有限公司</h4>
       <a href="">下载APP</a>
   </div>
</div>