<div class="commonBox">
    <div class="commonConBox">
       <ul class="personInfoEditList infoEditListHeightMid">
           <a href="">浦东新区 <i class="iconInfo iconfont icon-xiangyou" > </i></a>
           <a href="">徐汇区 <i class="iconInfo iconfont icon-xiangyou" > </i></a>
           <a href="" class="infoEditActive">黄浦区 <i class="iconInfo iconfont icon-xiangyou" > </i></a>
           <a href="">静安区 <i class="iconInfo iconfont icon-xiangyou" > </i></a>
           <a href="">长宁区 <i class="iconInfo iconfont icon-xiangyou" > </i></a>
        </ul>  
        <div class="personInfoEditBtn">
           <button>取 消</button>
           <button>确 认</button>
       </div> 
    </div>
    <div class="companyInfo">
         <h4>2015上海简知网络科技有限公司</h4>
         <a href="">下载APP</a>
    </div>
</div>