<div class="commonBox">
   <div class="commonConBox commonConBoxBg">
        <div class="jobDetailsCon">
            <div class="blankCardBox marginTop1">
                <div class="jobModelCardBox">
                      <div class="jobModelCardImg">
                           <div class="jobModelCardMask"></div>
                           <span ng-class="['green', 'red', 'blue'][taskInfo.taskType]"></span>
                           <div class="jobStyle">{{taskInfo.taskTypeName}}</div>
                      </div>
                      <div class="jobInfoBox">
                          <h3>{{taskInfo.name}}</h3>
                          <div><i class="iconInfo iconfont icon-shijian iconfontSize12"></i>{{taskInfo.dateFrom | date:'yyyy.MM.dd'}} - {{taskInfo.dateTo | date:'yyyy.MM.dd'}}</div>
                          <div><i class="iconInfo iconfont icon-dizhi iconfontSize12"></i>{{taskInfo.addr}}</div>
                      </div>
                      <div class="jobSalaryBox">
                            <div class="jobSalary"> {{taskInfo.salary}}元/天</div>
                            <div class="circleCreIcon circleCreIconLeft"><span></span></div>
                            <div class="circleCreIcon circleCreIconRight"><span></span></div>
                      </div>
                </div>
            </div>
            <a href="#companyDetails" class="blankCardBox marginTop1">
                <div class="jobCompanyInfo">
                   <i class="iconInfo iconfont icon-renzheng iconfontSize15"></i>
                   <label>{{taskInfo.corpName}}</label> 
                   <!-- <i class="iconInfo iconfont icon-aixin iconfontSize16 aixin"></i> -->
                   <span class="iconInfo iconfont icon-xiangyou"></span> 
                </div>
            </a>
            <div class="blankCardBox marginTop1">
                <h3 class="blankCardTit"><i class="iconInfo iconfont icon-bianji marginRight02"></i>职位描述</h3>
                <div class="fontAreaBox">
                    {{taskInfo.miaoshu}}
                </div>
            </div>
            <div class="blankCardBox marginTop1">
                <h3 class="blankCardTit"><i class="iconInfo iconfont icon-santiao marginRight02"></i>岗位要求</h3>
                <div class="fontAreaBox">
                    {{taskInfo.yaoqiu}}
                </div>
            </div>
        </div>
        <div class="jobDetailsBtnBox">
             <a href=""><i class="iconInfo iconfont icon-xingxing"></i>收藏该职位</a>
             <a href="" class="baomingBtn">立即报名</a>
        </div>
   </div>
   <div class="companyInfo">
       <h4>2015上海简知网络科技有限公司</h4>
       <a href="">下载APP</a>
   </div>
</div>