<div class="commonBox">
   <div class="commonConBox commonConBoxBg">
      <div class="blankCardBox marginTop1">
          <div class="jobModelCardBox">
                <div class="jobModelCardImg">
                     <div class="jobModelCardMask"></div>
                     <img src="img/baobao.jpg">
                     <div class="jobStyle">兼职</div>
                </div>

                <div class="jobInfoBox">
                    <h3>收银员</h3>
                    <div><i class="iconInfo iconfont icon-xiangyou"></i>2015.12.02～2015.12.25</div>
                    <div><i class="iconInfo iconfont icon-xiangyou"></i>上海淮海路999号</div>
                </div>
                <div class="jobSalaryBox">
                      <div class="jobSalary"> 180元/天</div>
                      <div class="circleCreIcon circleCreIconLeft"><span></span></div>
                      <div class="circleCreIcon circleCreIconRight"><span></span></div>
                </div>
          </div>
      </div>
      <a href="" class="blankCardBox marginTop1">
          <div class="jobCompanyInfo">
             <i  class="iconInfo iconfont icon-xiangyou"></i>
             <label>上海肯德基股份有限公司</label> 
             <i class="iconInfo iconfont icon-xiangyou aixin"></i>

             <span class="iconInfo iconfont icon-xiangyou"></span> 
          </div>
          
      </a>
      <div class="blankCardBox marginTop1">
          <h3 class="blankCardTit"><i  class="iconInfo iconfont icon-xiangyou"></i>职位描述</h3>
          <div class="fontAreaBox">
              岗位描述岗位描述岗位描述岗位描述岗位描述岗位描述岗位描述岗位描述岗位描述岗位描述岗位描述岗位描述岗位描述岗位描述岗位描述岗位描述岗位描述岗位描述岗位描述岗位描述岗位描述岗位描述岗位描述岗位描述岗位描述岗位描述岗位描述
          </div>
      </div>
       <div class="blankCardBox marginTop1">
          <h3 class="blankCardTit"><i  class="iconInfo iconfont icon-xiangyou"></i>岗位要求</h3>
          <div class="fontAreaBox">
              岗位描述岗位描述岗位描述岗位描述岗位描述岗位描述岗位描述岗位描述岗位描述岗位描述岗位描述岗位描述岗位描述岗位描述岗位描述岗位描述岗位描述岗位描述岗位描述岗位描述岗位描述岗位描述岗位描述岗位描述岗位描述岗位描述岗位描述
          </div>
      </div>

   </div>
   <div class="companyInfo">
       <h4>2015上海简知网络科技有限公司</h4>
       <a href="">下载APP</a>
   </div>
</div>