<div class="commonBox">
   <div class="commonConBox commonConBoxBg" ng-click="fn.hideRemoveItem();">
      <div class="blankCardBox marginTop1" ng-repeat="item in favoritesList">
          <div class="jobModelCardBox" ng-swipe-left="isOnRemove = true" ng-class="{true:'jobModelCardDelete', false:''}[isOnRemove]">
              <a ng-href="#jobDetails?{{item.url}}">
                <div class="jobModelCardImg">
                     <div class="jobModelCardMask"></div>
                     <span ng-class="['green', 'red', 'blue'][item.taskType]"></span>
                     <div class="jobStyle">{{item.taskTypeName}}</div>
                </div>

                <div class="jobInfoBox">
                    <h3>{{item.title}}</h3>
                    <div><i class="iconInfo iconfont icon-shouye iconfontSize12"></i>{{item.corpName}}</div>
                    <div><i class="iconInfo iconfont icon-shijian iconfontSize12"></i>{{item.dateFrom | date:'yyyy.MM.dd'}} - {{item.dateTo | date:'yyyy.MM.dd'}}</div>
                    <div><i class="iconInfo iconfont icon-dizhi iconfontSize12"></i>{{item.distName}}</div>
                </div>
                <div class="jobSalaryBox">
                      <div class="jobSalary"> {{item.salary}}元/天</div>
                      <div class="circleCreIcon circleCreIconLeft"><span></span></div>
                      <div class="circleCreIcon circleCreIconRight"><span></span></div>
                </div>
              </a>
              <div class="blankCardDelete">删除</div>
          </div>
      </div>
   </div>
   <div class="companyInfo">
       <h4>2015上海简知网络科技有限公司</h4>
       <a href="">下载APP</a>
   </div>
</div>