<div class="commonBox">
   <div class="commonConBox commonConBoxBg">
      <div class="blankCardBox marginTop1">
          <div class="jobModelCardBox">
                <div class="jobModelCardImg">
                     <div class="jobModelCardMask"></div>
                     <img src="img/baobao.jpg">
                     <div class="jobStyle">兼职</div>
                </div>

                <div class="jobInfoBox">
                    <h3>店长助理</h3>
                    <div><i class="iconInfo iconfont icon-xiangyou"></i>上海KFC股份有限公司</div>
                    <div><i class="iconInfo iconfont icon-xiangyou"></i>12.02-12.25</div>
                    <div><i class="iconInfo iconfont icon-xiangyou"></i>闵行</div>
                </div>
                <div class="jobSalaryBox">
                      <div class="jobSalary"> 180元/天</div>
                      <div class="circleCreIcon circleCreIconLeft"><span></span></div>
                      <div class="circleCreIcon circleCreIconRight"><span></span></div>
                </div>
          </div>
      </div>
      <div class="blankCardBox marginTop1">
          <div class="jobModelCardBox">
                <div class="jobModelCardImg">
                     <div class="jobModelCardMask"></div>
                     <img src="img/baobao.jpg">
                     <div class="jobStyle">兼职</div>
                </div>

                <div class="jobInfoBox">
                    <h3>店长助理</h3>
                    <div><i class="iconInfo iconfont icon-xiangyou"></i>上海KFC股份有限公司</div>
                    <div><i class="iconInfo iconfont icon-xiangyou"></i>12.02-12.25</div>
                    <div><i class="iconInfo iconfont icon-xiangyou"></i>闵行</div>
                </div>
                <div class="jobSalaryBox">
                      <div class="jobSalary"> 180元/天</div>
                      <div class="circleCreIcon circleCreIconLeft"><span></span></div>
                      <div class="circleCreIcon circleCreIconRight"><span></span></div>
                </div>
          </div>
      </div>
      


   </div>
   <div class="companyInfo">
       <h4>2015上海简知网络科技有限公司</h4>
       <a href="">下载APP</a>
   </div>
</div>