<div class="commonBox">
    <div class="commonConBox commonConBoxBg">
        <div class="myWorkAxis marginTop1">
            <span class="jianzhi">兼职</span>
            <div class="myWorkAxisFont">收银员</div>
            <div class="myWorkAxisDate" >2016年8月20号</div>
        </div>
        <div class="myWorkAxis marginTop1">
            <span class="xiaozhao">兼职</span>
            <div class="myWorkAxisFont">星巴克咖啡师</div>
            <div class="myWorkAxisDate" >2016年8月20号</div>
        </div>
        <div class="myWorkAxis marginTop1">
            <span class="shixi">兼职</span>
            <div class="myWorkAxisFont">收银员</div>
            <div class="myWorkAxisDate" >2016年8月20号</div>
        </div>
        <div class="myWorkAxis marginTop1">
            <span class="zhaoshi">兼职</span>
            <div class="myWorkAxisFont">收银员</div>
            <div class="myWorkAxisDate" >2016年8月20号</div>
        </div>
        <div class="myWorkAxis marginTop1">
            <span class="xiaozhao">兼职</span>
            <div class="myWorkAxisFont">星巴克咖啡师</div>
            <div class="myWorkAxisDate" >2016年8月20号</div>
        </div>
        <div class="myWorkAxis marginTop1">
            <span class="shixi">兼职</span>
            <div class="myWorkAxisFont">收银员</div>
            <div class="myWorkAxisDate" >2016年8月20号</div>
        </div>
        <div class="myWorkAxis marginTop1">
            <span class="zhaoshi">兼职</span>
            <div class="myWorkAxisFont">收银员</div>
            <div class="myWorkAxisDate" >2016年8月20号</div>
        </div>
        

    </div>
    <div class="companyInfo">
         <h4>2015上海简知网络科技有限公司</h4>
         <a href="">下载APP</a>
    </div>
</div>