<div class="commonBox">
    <div class="commonConBox commonConBoxBg">
        <a ng-href="{{item.url}}" class="myWorkAxis marginTop1" ng-repeat="item in myTimeList">
            <span ng-class="['jianzhi', 'shixi', 'zhaoshi'][item.taskType]">{{item.taskTypeName}}</span>
            <div class="myWorkAxisFont">{{item.taskName}}</div>
            <div class="myWorkAxisDate">{{item.newat | date:'yyyy年MM月dd日'}}</div>
        </a>
    </div>
    <div class="companyInfo">
         <h4>2015上海简知网络科技有限公司</h4>
         <a href="">下载APP</a>
    </div>
</div>