<div class="commonBox">
    <div class="commonConBox">
       <ul class="personInfoEditList">
           <li>大专</li>
           <li class="infoEditActive">本科</li>
           <li>研究生</li>
           <li>硕士</li>
           <li>博士</li>
       </ul>
       <ul class="personInfoEditList" ng-show="infoEditShow == 2">
           <li>团员</li>
           <li class="infoEditActive">党员</li>
           <li>群众</li>
           <li>其他</li>
       </ul>
       <ul class="personInfoEditList" ng-show="infoEditShow == 3">
           <li>兼职</li>
           <li class="infoEditActive">实习</li>
           <li>校招</li>
           <li>找事</li>
           <li>其他</li>
       </ul>
       <div class="personInfoEditBtn">
           <button>取 消</button>
           <button>确 认</button>
       </div>
    </div>
    <div class="companyInfo">
         <h4>2015上海简知网络科技有限公司</h4>
         <a href="">下载APP</a>
    </div>
</div>