<div class="commonBox">
    <div class="commonConBox">
       <div class="editSearchBox">
          <input type="text" placeholder="请输入学校名称关键字"></input>
          <div class="iconInfo iconfont icon-sousuo editSearchBtn "></div>
       </div>
       <ul class="personInfoEditList infoEditListHeightLit">
           <li>北京大学</li>
           <li>中国人民大学</li>
           <li class="infoEditActive">北京航空大学</li>
           <li>上海同济大学</li>
           <li>上海复旦大学</li>
           <li>上海工程技术大学</li>
       <div class="personInfoEditBtn">
           <button>取 消</button>
           <button>确 认</button>
       </div>
    </div>
    <div class="companyInfo">
         <h4>2015上海简知网络科技有限公司</h4>
         <a href="">下载APP</a>
    </div>
</div>