<div class="commonBox">
   <div class="commonConBox commonConBoxBg">
      <div class="blankCardBox marginTop2">
          <img class="userHeadImg" src="img/baobao.jpg" />
          <p class="userHeadName">{{username}}</p>
      </div>

      <div class="blankCardBox marginTop1">
          <h3 class="blankCardTit">编辑个性资料</h3>
          <div class="jumpCardBox">
              <a ng-href="#userNameEdit?nick={{userInfo.nick}}">
                  <h3>昵称</h3>
                  <i class="iconInfo iconfont icon-xiangyou"> </i>
                  <span>{{userInfo.nick}}</span>
              </a>
              <a href="">
                  <h3>账号</h3>
                  <i class="iconInfo iconfont icon-xiangyou"> </i>
                  <span>账号</span>
              </a>
              <a ng-href="#sexEdit?gender={{userInfo.gender}}">
                  <h3>性别</h3>
                  <i class="iconInfo iconfont icon-xiangyou"> </i>
                  <span>{{userInfo.gender}}</span>
              </a>
              <a ng-href="#districtSelEdit?load=area&areaId=0&step=1">
                  <h3>地区</h3>
                  <i class="iconInfo iconfont icon-xiangyou"> </i>
                  <span>{{userInfo.areaName}}</span>
              </a>
              <a ng-href="#schoolSelEdit?load=school&schoolId={{userInfo.schoolId}}">
                  <h3>学校</h3>
                  <i class="iconInfo iconfont icon-xiangyou"> </i>
                  <span>{{userInfo.schoolName}}</span>
              </a>
              <a href="#resumeEdit">
                  <h3>我的简历</h3>
                  <i class="iconInfo iconfont icon-xiangyou"> </i>
                  <span></span>
              </a>
              <a href="#myCollection">
                  <h3>我的关注</h3>
                  <i class="iconInfo iconfont icon-xiangyou"> </i>
                  <span></span>
              </a>
          </div>
      </div>

   </div>
   <div class="companyInfo">
       <h4>2015上海简知网络科技有限公司</h4>
       <a href="">下载APP</a>
   </div>
</div>