<div class="commonBox">
   <div class="commonConBox commonConBoxBg">
      <div class="blankCardBox marginTop2">
          <img class="userHeadImg" src="img/baobao.jpg" />
          <p class="userHeadName">宝强不哭</p>
      </div>

      <div class="blankCardBox marginTop1">
          <h3 class="blankCardTit">编辑个性资料</h3>
          <div class="jumpCardBox">
              <a href="#userNameEdit">
                  <h3>昵称</h3>
                  <i class="iconInfo iconfont icon-xiangyou" > </i>
                  <span>宝强不哭</span>
              </a>
              <a href="">
                  <h3>账号</h3>
                  <i class="iconInfo iconfont icon-xiangyou" > </i>
                  <span>18811111111</span>
              </a>
              <a href="#sexEdit">
                  <h3>性别</h3>
                  <i class="iconInfo iconfont icon-xiangyou" > </i>
                  <span>女</span>
              </a>
              <a href="#districtSelEdit">
                  <h3>地区</h3>
                  <i class="iconInfo iconfont icon-xiangyou" > </i>
                  <span>上海</span>
              </a>
              <a href="#schoolSelEdit">
                  <h3>学校</h3>
                  <i class="iconInfo iconfont icon-xiangyou" > </i>
                  <span>上海神经病培训学院</span>
              </a>
              <a href="#resumeEdit">
                  <h3>我的简历</h3>
                  <i class="iconInfo iconfont icon-xiangyou" > </i>
                  <span></span>
              </a>
              <a href="">
                  <h3>我的关注</h3>
                  <i class="iconInfo iconfont icon-xiangyou" > </i>
                  <span></span>
              </a>
          </div>
      </div>

   </div>
   <div class="companyInfo">
       <h4>2015上海简知网络科技有限公司</h4>
       <a href="">下载APP</a>
   </div>
</div>