<div class="commonBox">
    <div class="commonConBox">
        <ul class="loginConBox">
        	<li class="marBottomLit">
        		<span  class="iconInfo iconfont icon-iconfontyonghuming" ></span>
        		<input type="text" placeholder="手机号/邮箱" ng-model="loginList.loginName"></input>
        	</li>
        	<li>
        		<span  class="iconInfo iconfont icon-mima"></span>
        		<input type="password" placeholder="密码" ng-model="loginList.pass"></input>
        	</li>
        </ul>
        <div class="loginmPsdDo">
             <label><input class="checkboxSty" type="checkbox" ng-model="rememberPass" /> 记住密码</label>
             <a href="#/getBackPsd">忘记密码？</a>
        </div>
        <div class="loginPsdError">密码错误，请重新输入！</div>
        <!-- <a href="#/userInfoEdit" class="loginBtn sureBtn" >登陆</a> -->
        <a class="loginBtn sureBtn" ng-click="fn.loginSubmit()">登陆</a>
        <a href="#/register" class="loginBtn registerBtn">新用户注册</a>
    </div>
    <div class="companyInfo">
         <h4>2015上海简知网络科技有限公司</h4>
         <a href="">下载APP</a>
    </div>
</div>