<div class="commonBox">
    <div class="commonConBox commonConBoxBg">
       <div class="userNameEditBox">
          <input type="date" placeholder="请输入您的生日" ng-model="userInfo.birthDayFack" />
       </div>
       <!-- <div class="nameFontCountBox">
          <div class="nameFontCount"><span>5</span>/<span>15</span></div>
       </div> -->
       <div class="personInfoEditBtn">
           <button  ng-click="fn.cancel()">取 消</button>
           <button  ng-click="fn.submit({birthDayFack: '请输入您的生日'})">确 认</button>
       </div> 
    </div>
    <div class="companyInfo">
         <h4>2015上海简知网络科技有限公司</h4>
         <a href="">下载APP</a>
    </div>
</div>